:root {
  --black-text-color: #151515;
  --white-text-color: #FFFFFF;
}

html {
  background-color: #F0F0F0;
  margin-top: 20px;
}

main,
header {
  margin-left: 16px;
  margin-right: 16px;
}

html * {
  font-family: "Space Grotesk";
}

h1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 60px;
}

h2 {
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 24px;
}

li:not(footer li) {
  font-size: 20px;
  padding-left: 9px;
}

li:not(footer li)::before {
  content: "■";
  position: absolute;
  left: 30px;
  font-size: 1.5rem;
  line-height: 20px;
  color: #151515;
}

form {
  display: flex;
}

input {
  text-align: center;
  padding: 14px 20px 14px 20px;
  border: none;
}

input::placeholder {
  font-weight: 400;
  color: var(--black-text-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

summary {
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
  list-style: none;
  cursor: pointer;
}

summary::before {
  content: "+";
  position: absolute;
  right: 16px;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 35px;
  color: #151515;
}

details[open] summary::before {
  content: "-";
}

footer {
  background-color: #151515;
  margin-top: 80px;
  padding: 1px;
}

footer h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: var(--white-text-color);
}

.black-box {
  background-color: #151515;
  padding: 14px 20px 14px 20px;
  gap: 10px;
  color: var(--white-text-color);
  border: none;
}

.text-box {
  display: inline-block;
  border: 1px solid #000000;
  padding: 10px 20px 0px 20px;
  font-weight: 800;
  min-height: 38px;
  text-align: center;
}

.text-box {
  text-decoration: none;
  color: var(--black-text-color);
}

.tool-icon {
  width: 100px;
  height: 100px;
}

.illustration-2 {
  width: 370px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.illustration-3 {
  height: 400px;
  width: 280px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.illustration-4 {
  width: 280px;
  height: 298px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.illustration-5 {
  width: 360px;
  height: 372px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header * {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header a {
  text-decoration: none;
  color: var(--black-text-color);
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-btn {
  padding: 14px 20px;
  gap: 10px;
  border: none;
  min-width: 90px;
  height: auto;
  background: #FFFFFF;
  display: none;
  /* Hidden by default on mobile */
}

.header-text {
  display: none;
  /* Hidden by default on mobile */
}

.call-to-action .bottom {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 40px;
  align-items: center;
}

.call-to-action .logos {
  display: flex;
  gap: 28px;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tools h3 {
  margin-top: 20px;
  margin-bottom: 16px;
}

.tools p {
  margin-top: 0px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cards p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 200px;
}

.cards ul {
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.cards li::before {
  content: "■";
  position: absolute;
  left: 50px;
  font-size: 1.5rem;
  line-height: 20px;
  color: #151515;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #151515;
  height: 640px;
  background-color: #F0F0F0;
}

.price {
  margin-top: 50px;
  margin-left: 20px;
}

.currency {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  position: relative;
  top: -35px;
}

.amount {
  font-size: 80px;
  font-weight: 800;
  line-height: 77.2px;
}

.per-month {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  left: 12px;
  top: 9px;
  position: relative;
}

.pricing-card-black {
  display: flex;
  flex-direction: column;
  height: 640px;
  background-color: #151515;
}

.price-black {
  margin-top: 50px;
  margin-left: 20px;
  color: var(--white-text-color);
}

.currency-black {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  position: relative;
  top: -35px;
}

.amount-black {
  font-size: 80px;
  font-weight: 800;
  line-height: 77.2px;
}

.per-month-black {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  left: 12px;
  top: 9px;
  position: relative;
}

.pricing-card-black ul {
  color: var(--white-text-color);
}

.pricing-card-black li::before {
  content: "■";
  position: absolute;
  left: 50px;
  font-size: 1.5rem;
  line-height: 20px;
  color: var(--white-text-color);
}

.cards button {
  margin-top: auto;
  margin-bottom: 40px;
  width: 248px;
  height: 52px;
  align-self: center;
}

.cards .pricing-card:nth-child(3) {
  background-color: #FFFFFF;
  border: none
}

.footer-items {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-top: 32px;
  align-self: baseline;
}

.footer-items .black-box {
  border: 1px solid #FFFFFF
}

.footer-items .white-box {
  padding: 0;
}

.footer-items ul {
  margin-top: 60px;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-items a {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  color: var(--white-text-color);
}

.footer-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-email h4 {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  color: var(--white-text-color);
}

.footer-logos {
  margin-top: 60px;
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.footer-logos img {
  width: 60px;
  height: 60px;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 32px;
  text-align: center;
}

/* Tablet and larger screens */
@media screen and (min-width: 768px) {
  .header .login-btn {
    display: block;
  }

  .header-text {
    display: block;
  }

  .header .hamburger {
    display: none;
  }
}

/* Desktop screens */
@media screen and (min-width: 1024px) {
  html {
    margin-left: 32px;
    margin-right: 32px;
  }
}